@import '../../../styles/utils.scss';

.btn {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;

  background: $gray9;

  &:hover {
    background: $gray7;
  }

  &.fullWidth {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
  }

  &.disabled {
    background: $gray3;
    color: $gray4;
    cursor: not-allowed;
  }
}